
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

th {
  background-color:  #0f0202;
}


button {
  margin-top: 10px;
  text-align: center;
}